body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: white;
  padding-top: 0.3em;
  width: 100%;
  margin-top: -1.65em;
  border-bottom: 1px solid #257ebf;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav {
    margin-top: unset;
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav {
    margin-top: unset;
    position: -webkit-sticky;
    position: sticky;
  }
}

header nav .hamburger {
  display: none;
  width: 12%;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .hamburger {
    display: block;
    margin: -13% 20% 8% 160%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .hamburger {
    display: block;
    margin: -25% 20% 9% 175%;
    width: 20%;
    height: 60%;
  }
}

header nav .closeMenu {
  display: none;
  width: 7%;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .closeMenu {
    display: block;
    margin-left: 80%;
    padding: 2em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .closeMenu {
    display: block;
    margin-left: 70%;
    padding: 2em;
  }
}

header nav .nav-logo {
  margin-left: 1.9em;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .nav-logo {
    width: 50%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .nav-logo {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav .nav-logo {
    margin-top: 0.2em;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  header nav .nav-logo {
    margin-top: 0.2em;
  }
}

header nav .nav-logo a {
  text-decoration: none;
}

header nav img {
  width: 23%;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav img {
    width: 14%;
    margin-top: 2%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  header nav img {
    width: 20%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav img {
    width: 18%;
  }
}

header nav .logotxt {
  width: 38%;
  padding-bottom: 1em;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .logotxt {
    width: 32%;
    margin-bottom: -3.2%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .logotxt {
    width: 38%;
    margin: -4.5%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav .logotxt {
    width: 34%;
  }
}

header nav .ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .ul .home {
  display: none;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .ul .home {
    display: block;
    color: #257ebf;
    font-weight: 700;
    outline: none;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .ul .home {
    display: block;
    color: #257ebf;
    font-weight: 700;
    outline: none;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .ul {
    display: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-left: -8%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .ul {
    display: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-left: -13%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav .ul {
    font-size: 0.95rem;
    margin-left: -5em;
  }
}

header nav .ul li {
  padding-right: 2.5em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  header nav .ul li {
    margin-left: -0.8%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .ul li {
    padding-bottom: 3em;
    font-size: 1.3rem;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .ul li {
    padding-bottom: 3em;
    font-size: 1.08rem;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  header nav .ul li {
    padding-right: 1.7em;
  }
}

@media (min-width: 701px) and (max-width: 760px) and (min-width: 600px) and (max-width: 700px) {
  header nav .ul li {
    padding-right: 1em;
  }
}

header nav .ul li a {
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav .ul li a {
    margin-left: -1em;
  }
}

header nav .ul li a:focus {
  color: #257ebf;
  font-weight: 700;
}

header nav .ul button {
  background-color: #257ebf;
  border: #257ebf;
  color: white;
  padding: 0.8em;
  border-radius: 0.58em;
  margin-top: -2em;
}

@media (min-width: 400px) and (max-width: 599px) {
  header nav .ul button {
    font-size: 1.1rem;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header nav .ul button {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header nav .ul button {
    padding-right: 0.6em;
  }
}

header nav .ul button:active {
  background-color: white;
  color: #257ebf;
  border: 2px solid #257ebf;
  font-weight: 700;
}

.background-img {
  background-image: url("../images/Group 4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.6em;
}

.background-img #settings-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #settings-flex {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #settings-flex div {
    font-size: 1rem;
    padding-bottom: 2%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex div {
    font-size: 1rem;
    padding-bottom: 2%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #settings-flex .settings-p {
    font-size: 1rem;
    padding-bottom: 2%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex .settings-p {
    font-size: 0.98rem;
    padding-bottom: 2%;
  }
}

.background-img #settings-flex .lang-abc {
  border-color: white;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #settings-flex .lang-abc {
    font-size: 1rem;
    font-weight: 700;
    margin-left: -4%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex .lang-abc {
    font-size: 0.98rem;
    font-weight: 700;
    margin-left: -4%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .background-img #settings-flex .lang-abc {
    font-size: 0.95rem;
    font-weight: 700;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .background-img #settings-flex .lang-abc {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img #settings-flex .lang-abc {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex #nightmode {
    width: 11.8%;
  }
}

.background-img #settings-flex img {
  margin-bottom: -0.3em;
  padding-left: 0.3em;
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #settings-flex img {
    width: 24%;
  }
}

.background-img .settingsbar {
  display: none;
  background-color: white;
  width: 70vw;
  z-index: 999;
  margin: -2em auto;
  padding: 2em;
  border-radius: 0.58em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img .settingsbar {
    width: 75vw;
  }
}

.background-img .settingsbar .close-1 {
  cursor: pointer;
  margin-left: 95%;
  width: 2.8%;
  background-color: #257ebf;
  border-radius: 50%;
  padding: 0.18em;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img .settingsbar .close-1 {
    width: 6%;
    padding: 0.2em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .settingsbar .close-1 {
    width: 6%;
    padding: 0.2em;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .background-img .settingsbar .close-1 {
    margin: -0.7% 95%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .background-img .settingsbar .close-1 {
    margin: -0.3em 30em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img .settingsbar .close-1 {
    margin: -3em 28em 0;
  }
}

.background-img h1 {
  padding: 2em;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img h1 {
    font-size: 1.9rem;
    margin: 0 auto;
    padding: unset;
    padding-top: 4em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img h1 {
    font-size: 1.78rem;
    width: 80%;
    margin: 0 auto;
    padding-left: unset;
    padding-right: unset;
    padding-top: 2em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img h1 {
    font-size: 2.3rem;
  }
}

.background-img h1 span {
  border-radius: 50%;
  border: 2px solid #efcf28;
  padding: 0.1em;
}

.background-img .input {
  text-align: center;
  margin-top: -0.5em;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img .input {
    margin: 0 10.8% 0 4%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .input {
    margin: 0 10.8% 0 4%;
  }
}

.background-img .input submit {
  background-color: white;
  border-radius: 0.58em;
  padding: 0.6em 0.5em 0.6em 0.38em;
  font-weight: 700;
  display: block;
  width: 6%;
  margin: 0.8em auto;
  color: #257ebf;
  font-size: 0.94rem;
  -webkit-box-shadow: 0 0.1em 0 lightblue;
          box-shadow: 0 0.1em 0 lightblue;
  cursor: pointer;
}

@media (max-width: 1285px) {
  .background-img .input submit {
    width: 9%;
  }
}

@media (max-width: 1285px) and (min-width: 600px) and (max-width: 700px) {
  .background-img .input submit {
    width: 13%;
  }
}

@media (max-width: 1285px) and (min-width: 701px) and (max-width: 760px) {
  .background-img .input submit {
    width: 11%;
  }
}

@media (max-width: 1285px) and (min-width: 400px) and (max-width: 599px) {
  .background-img .input submit {
    width: 19.5%;
    margin: 3% 43%;
    font-size: 0.95rem;
    padding: 0.6em 0.5em 0.6em 0.38em;
  }
}

@media (max-width: 1285px) and (min-width: 200px) and (max-width: 399px) {
  .background-img .input submit {
    display: none;
  }
}

.background-img .input submit:active {
  background-color: #257ebf;
  color: white;
  background-image: url("../images/search icon1.svg");
  background-repeat: no-repeat;
  background-size: 18%;
  border: 1px solid white;
  background-position: 14% 50%;
}

.background-img .input submit img {
  width: 17%;
  padding: 1em 0.8em 0em -0.1em;
  margin-right: 0.2em;
}

.background-img .input .audiosearch {
  width: 1.4%;
  margin: -0.4% -2.6%;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img .input .audiosearch {
    width: 4%;
    margin: 2% -8% -1.5%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .input .audiosearch {
    width: 5%;
    margin: 2% -20% -1.5%;
    border-left: 2px solid gray;
    padding-left: 2%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .background-img .input .audiosearch {
    width: 2%;
    position: relative;
    margin: -0.8% -4%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  .background-img .input .audiosearch {
    width: 2%;
    position: relative;
    margin: -0.8% -3.9%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .background-img .input .audiosearch {
    width: 2.8%;
    margin: -0.8% -5.3%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img .input .audiosearch {
    width: 2.8%;
    margin: -0.8% -5.3%;
  }
}

.background-img .input #searchbar {
  margin-left: -4.5%;
  padding: 0.8em;
  border-radius: 0.58em;
  border: 1px solid white;
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
  float: center;
  outline: none;
  -webkit-box-shadow: 0 0.1em 0 lightblue;
          box-shadow: 0 0.1em 0 lightblue;
}

@media (max-width: 1285px) {
  .background-img .input #searchbar {
    width: 35%;
  }
}

@media (max-width: 1285px) and (min-width: 400px) and (max-width: 599px) {
  .background-img .input #searchbar {
    width: 68%;
    margin-top: 18%;
  }
}

@media (max-width: 1285px) and (min-width: 200px) and (max-width: 399px) {
  .background-img .input #searchbar {
    width: 82%;
    margin: 10% 5% 0 -17%;
    background-image: url("../images/search icon.svg");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 82% 50%;
    padding-left: 5%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .background-img .input #searchbar {
    margin-left: -9%;
    width: 48%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  .background-img .input #searchbar {
    width: 38%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .background-img .input #searchbar {
    margin-top: -20%;
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img .input #searchbar {
    margin-left: -9.9%;
    width: 54%;
  }
}

.background-img .input #searchbar:focus {
  border: 2px solid #efcf28;
}

.background-img #main-container {
  background-color: white;
  position: relative;
  border-radius: 0.58em;
  padding: 0.3em;
  width: 50%;
  margin: -2.5em auto;
  display: none;
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #main-container {
    width: 90%;
    margin-left: 7%;
    margin-bottom: 1%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #main-container {
    width: 90%;
    margin-left: 7%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .background-img #main-container {
    width: 57%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .background-img #main-container {
    width: 60%;
  }
}

.background-img #main-container .search {
  display: block;
}

.background-img #main-container input {
  width: 45%;
  padding: 0.8em;
  margin-top: 1em;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #main-container input {
    width: 55%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #main-container input {
    width: 70%;
  }
}

.background-img #main-container .close {
  width: 4%;
  padding-top: 10px;
  margin-left: 86%;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img #main-container .close {
    width: 5%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img #main-container .close {
    width: 6%;
  }
}

.background-img .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .flex {
    margin: 2.5em 0 2em 0.98em;
  }
}

.background-img .flex .select-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img .flex .select-me #selectKnowledge {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .flex .select-me #selectKnowledge {
    display: none;
  }
}

.background-img .flex #divspan {
  margin: 0 -1em 0.1em;
}

@media (min-width: 200px) and (max-width: 399px) {
  .background-img .flex #divspan {
    margin-right: -8%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .background-img .flex #divspan {
    margin: unset;
  }
}

.background-img .flex #divspan img {
  margin-bottom: -0.2em;
  cursor: pointer;
}

.background-img .flex span {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.background-img select {
  margin-left: 2em;
  border-radius: 0.58em;
  padding: 0.4em;
  outline: none;
}

@media (min-width: 200px) and (max-width: 399px) {
  main h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .main-p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

main .divklass {
  background-color: lightblue;
  margin: -1.2em auto;
  text-align: center;
  padding-bottom: 4em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass #h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  main .divklass #h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass .img-divklass {
    width: 6.78% !important;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass .img-divklass {
    width: 10.78% !important;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass .img-divklass {
    width: 6% !important;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass .img-divklass {
    width: 6.8% !important;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass .img-divklass {
    width: 6% !important;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass {
    font-size: 1.1rem;
  }
}

main .divklass p {
  padding-bottom: 0.3em;
}

main .divklass button {
  color: white;
  background-color: #257ebf;
  padding: 0.8em 1em;
  border: 2px solid #257ebf;
  -webkit-box-shadow: 0 0.1em 0 lightblue;
          box-shadow: 0 0.1em 0 lightblue;
  border-radius: 0.58em;
  font-weight: 700;
  margin-left: 1.2em;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass button {
    display: -ms-grid;
    display: grid;
    margin: 2.5% auto;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass button {
    display: -ms-grid;
    display: grid;
    margin: 3% auto;
  }
}

main .divklass button:active {
  background-color: white;
  color: #257ebf;
  border: 2px solid white;
  font-weight: 700;
}

main .divklass input {
  border-radius: 0.58em;
  padding: 0.8em 8em 0.8em 1em;
  border: 1px solid #257ebf;
  -webkit-box-shadow: 0 0.1em 0 lightblue;
          box-shadow: 0 0.1em 0 lightblue;
  outline: none;
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass input {
    width: 45%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass input {
    width: 55%;
  }
}

main .divklass input:focus {
  border: 2px solid #efcf28;
}

main div {
  padding: 2em 1.9em 0 1.9em;
}

main #list {
  margin: 0.5em -0.8em;
  list-style-type: none;
  line-height: 1.8em;
  padding: 0.9em;
  border-bottom: 1px solid lightgray;
}

main #list .web {
  line-height: 1.3em;
}

@media (min-width: 600px) and (max-width: 700px) {
  main #list .web {
    font-size: 1.05rem;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main #list .web {
    font-size: 1rem;
  }
}

main #list li {
  padding-bottom: 1em;
  line-height: 1rem;
}

main #list li a {
  color: #257ebf;
}

footer {
  background-color: #257ebf;
  background-image: url("../images/Ellipsicle background logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .divfooter {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1px;
}

@media (max-width: 1285px) {
  footer .divfooter {
    width: 100%;
  }
}

@media (max-width: 1285px) and (min-width: 761px) and (max-width: 1199px) {
  footer .divfooter {
    width: 100%;
  }
}

@media (max-width: 1285px) and (min-width: 600px) and (max-width: 700px) {
  footer .divfooter {
    width: 100%;
  }
}

footer .divfooter #divblock {
  width: 90%;
  margin: 3em auto;
}

@media (min-width: 400px) and (max-width: 599px) {
  footer .divfooter #divblock {
    border-top: 1px solid lightblue;
    width: 100%;
    margin-top: 2.3%;
    padding-top: 2%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  footer .divfooter #divblock {
    border-top: 1px solid lightblue;
    width: 93%;
    margin: 1% auto;
    padding-top: 1%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  footer .divfooter #divblock {
    width: 100%;
    border-top: 1px solid lightblue;
    padding: 1em 0 1em 0;
    margin: 1.2em auto;
  }
}

footer .divfooter #divblock p {
  text-align: center;
  color: lightblue;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 1px;
}

@media (min-width: 400px) and (max-width: 599px) {
  footer .divfooter #divblock p {
    letter-spacing: unset;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  footer .divfooter #divblock p {
    letter-spacing: unset;
    font-size: 0.75rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  footer .divfooter #divblock p {
    font-size: 1rem;
  }
}

footer .divfooter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid white;
}

@media (min-width: 600px) and (max-width: 700px) {
  footer .divfooter ul {
    font-size: 1.2rem;
    display: -ms-grid;
    display: grid;
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 28% 0;
    padding-top: 3em;
    border-bottom: unset;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  footer .divfooter ul {
    font-size: 1.05rem;
    display: -ms-grid;
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding-top: 3em;
    border-bottom: unset;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  footer .divfooter ul {
    font-size: 1.05rem;
    display: -ms-grid;
    display: grid;
    width: 60%;
    margin: 0 7%;
    padding-top: 2em;
    border-bottom: unset;
  }
}

footer .divfooter ul #contact-id {
  margin-left: -2.5em;
}

@media (min-width: 400px) and (max-width: 599px) {
  footer .divfooter ul #contact-id {
    margin-left: 0;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  footer .divfooter ul #contact-id {
    margin-left: 0;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  footer .divfooter ul #contact-id {
    margin-left: 0;
  }
}

footer .divfooter ul li {
  padding: 2.5em;
  width: 100%;
}

@media (min-width: 761px) and (max-width: 1199px) {
  footer .divfooter ul li {
    padding: 2em 1em 2em 1em;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  footer .divfooter ul li {
    width: 70%;
    text-align: center;
    float: center;
    margin-top: -15%;
    padding: unset;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  footer .divfooter ul li {
    width: 90%;
    text-align: center;
    float: center;
    margin-top: -15%;
    padding: unset;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  footer .divfooter ul li {
    width: 90%;
    text-align: center;
    float: center;
    margin-top: -22.5%;
    padding: unset;
  }
}

@media (max-width: 1285px) {
  footer .divfooter ul li {
    padding: 2em 1em 2em 1em;
  }
}

@media (max-width: 1285px) and (min-width: 701px) and (max-width: 760px) {
  footer .divfooter ul li {
    padding: 2em 0.5em 2em 0.5em;
  }
}

@media (max-width: 1285px) and (min-width: 701px) and (max-width: 760px) and (min-width: 600px) and (max-width: 700px) {
  footer .divfooter ul li {
    padding: 2em 0.3em 2em 0.3em;
  }
}

footer .divfooter ul li a {
  text-decoration: none;
  color: white;
}

header #about {
  color: #257ebf;
  font-weight: 700;
}

header #nav {
  margin-top: -0.1em;
}

header .hero-image {
  background-image: url("../images/hero image.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 11.3em 20em;
}

@media (min-width: 400px) and (max-width: 599px) {
  header .hero-image {
    padding: 8% 12%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  header .hero-image {
    padding: 8% 12%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  header .hero-image {
    padding: 8em 12em;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  header .hero-image {
    padding: 15em 20em;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  header .hero-image {
    padding: 8em 10em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header .hero-image {
    padding: 8em 10em;
  }
}

header .hero-image h1 {
  text-align: center;
  color: white;
}

@media (min-width: 200px) and (max-width: 399px) {
  header .hero-image h1 {
    width: 100%;
    font-size: 1.7rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  header .hero-image h1 {
    width: 100%;
    font-size: 1.8rem;
  }
}

main .divklass1 {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 {
    margin: -5% -3% 0;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 {
    margin: -5% -3% 0;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 {
    margin-top: -4.5%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  main .divklass1 {
    margin-top: -10%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 {
    margin-top: -14%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .h2 {
    padding-top: 2em;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  main .divklass1 .h2 {
    padding-top: 5.5em;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .h2 {
    padding-top: 3.8em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .h2 {
    padding-top: 3.8em;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .imgdivklass {
    width: 6.7% !important;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .imgdivklass {
    width: 10% !important;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .imgdivklass {
    width: 5% !important;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .imgdivklass {
    width: 6.8% !important;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .imgdivklass {
    width: 6% !important;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 {
    margin-top: -7em;
  }
}

main .divklass1 p {
  text-align: left;
  line-height: 1.8em;
  margin: 2em 1.9em 0 1.9em;
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 p {
    width: 92.8%;
    text-align: unset;
    margin-left: 1.8%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 p {
    width: 92.8%;
    text-align: unset;
    margin-left: 1.8%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 p {
    margin: 1em 1.9em 0 1.9em;
    font-size: 1.2rem;
  }
}

main .divklass1 .divklass-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.9em 0 1.9em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .divklass-flex1 {
    width: 95%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .divklass-flex1 {
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex1 {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex1 {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-left: 0%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex1 {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-left: 0%;
  }
}

main .divklass1 .divklass-flex1 p {
  border-bottom: unset;
  margin-top: 3em;
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex1 p {
    width: 100%;
    margin: 1.5em auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex1 p {
    width: 100%;
    margin: 5% -5% 0;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex1 p {
    width: 100%;
    margin: 5% -6% 0;
  }
}

main .divklass1 .divklass-flex1 img {
  width: 20%;
  margin-top: 0.3em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .divklass-flex1 img {
    width: 40%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .divklass-flex1 img {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex1 img {
    width: 53%;
    margin: 0.2em auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex1 img {
    width: 53%;
    margin: 0.2em auto;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex1 img {
    width: 55%;
    margin-left: 20%;
  }
}

main .divklass1 .divklass-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.9em 0 1.9em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .divklass-flex {
    width: 95%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .divklass-flex {
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-left: 0%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin-left: 0%;
  }
}

main .divklass1 .divklass-flex p {
  border-bottom: unset;
  margin-top: -1em;
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex p {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex p {
    width: 100%;
    margin-left: -5%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex p {
    width: 100%;
    margin-left: -6%;
  }
}

main .divklass1 .divklass-flex img {
  width: 20%;
  margin-top: -3em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  main .divklass1 .divklass-flex img {
    width: 40%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  main .divklass1 .divklass-flex img {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  main .divklass1 .divklass-flex img {
    width: 53%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  main .divklass1 .divklass-flex img {
    width: 53%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  main .divklass1 .divklass-flex img {
    width: 55%;
    margin-left: 20%;
    padding: 1em 0 2em 0;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  header .contact-nav {
    margin-top: 0.1%;
  }
}

header #contact {
  color: #257ebf;
  font-weight: 700;
}

#main {
  background-image: url("../images/priscilla-du-preez-3gAiajAfjXI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main .main-div-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8em;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex {
    display: -ms-grid;
    display: grid;
    width: 92%;
    margin: 0 auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex {
    display: -ms-grid;
    display: grid;
    width: 92%;
    margin: -25% auto;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex {
    display: -ms-grid;
    display: grid;
    width: 95%;
    margin: -25% 1.3% 0 0;
  }
}

#main .main-div-flex input {
  padding: 0.8em 20em 0.8em 0.5em;
  border-radius: 0.58em;
  outline: none;
  border: 1px solid #257ebf;
  margin-bottom: 2em;
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main .main-div-flex input {
    font-size: 1rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main .main-div-flex input {
    padding: 0.8em 19.5em 0.8em 0.5em;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  #main .main-div-flex input {
    padding: 0.8em 19.5em 0.8em 0.5em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex input {
    padding: 0.8em 19.5em 0.8em 0.5em;
    font-size: 1.04rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex input {
    padding: 0.8em 12.5em 0.8em 0.5em;
    width: 42%;
    margin-left: 0.7%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex input {
    padding-right: 13%;
    width: 77.5%;
    margin-left: -3.2%;
  }
}

#main .main-div-flex input:focus {
  border-color: #efcf28;
}

#main .main-div-flex textarea {
  padding-right: 18.3em;
  border-radius: 0.58em;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid #257ebf;
  margin-bottom: 0.5em;
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main .main-div-flex textarea {
    font-size: 1.07rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex textarea {
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex textarea {
    width: 78%;
    padding-right: 13%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex textarea {
    width: 78%;
    height: 40%;
    padding-right: 13%;
    margin-left: -3.2%;
  }
}

#main .main-div-flex textarea:focus {
  border-color: #efcf28;
}

#main .main-div-flex #form-submit {
  padding: 0.8em;
  background-color: #257ebf;
  color: white;
  font-weight: 700;
  width: 25%;
  margin: 0 38% 20%;
  cursor: pointer;
  -webkit-box-shadow: 0 0.1em 0 gray;
          box-shadow: 0 0.1em 0 gray;
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main .main-div-flex #form-submit {
    width: 30%;
    margin-bottom: 67.5%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex #form-submit {
    width: 30%;
    margin: 1% 36% 20%;
    font-size: 1.1rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex #form-submit {
    width: 30%;
    margin: 1% 32% 65%;
    font-size: 1rem;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex #form-submit {
    width: 30%;
    margin: 1% 30% 40%;
    font-size: 0.9rem;
  }
}

#main .main-div-flex #form-submit:active {
  background-color: white;
  border: 2px solid #257ebf;
  color: #257ebf;
}

#main .main-div-flex h2 {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
}

@media (min-width: 701px) and (max-width: 760px) {
  #main .main-div-flex h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex h2 {
    color: white;
    margin-top: -2em;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex h2 {
    width: 60%;
    margin: 5% auto;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex h2 {
    width: 100%;
    font-size: 1.7rem;
    margin: 5% -5%;
  }
}

#main .main-div-flex img {
  width: 15%;
  padding-left: 8em;
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main .main-div-flex img {
    padding-left: 40%;
    width: 18%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  #main .main-div-flex img {
    padding-left: 35%;
    width: 25%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex img {
    padding-left: 45%;
    width: 10%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex img {
    padding-left: 43.5%;
    width: 12%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex img {
    padding-left: 38.5%;
    width: 12%;
  }
}

#main .main-div-flex p {
  color: white;
  width: 100%;
  font-size: 1.2rem;
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main .main-div-flex p {
    font-size: 1.4rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main .main-div-flex p {
    background-color: black;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  #main .main-div-flex p {
    font-size: 1.1rem;
    background-color: black;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main .main-div-flex p {
    font-size: 1.3rem;
    text-align: center;
    background-color: black;
    width: 70%;
    margin: 4% auto;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main .main-div-flex p {
    text-align: center;
    background-color: black;
    width: 100%;
    margin: 4% -4% 6%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main .main-div-flex p {
    text-align: center;
    background-color: black;
    width: 100%;
    font-size: 1.02rem;
    margin: 4% -8% 6%;
  }
}

#footer {
  margin-top: -1em;
}

@media (min-width: 600px) and (max-width: 700px) {
  header li {
    margin-left: -0.1em;
  }
}

header #contribute {
  color: #257ebf;
  font-weight: 700;
}

#main-one .main-div-block {
  padding-top: 3em;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block {
    width: 100%;
    margin-left: 5%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  #main-one .main-div-block {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main-one .main-div-block {
    width: 85%;
    margin-left: 1%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block {
    width: 83%;
    margin-left: 0.5%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block {
    width: 85%;
    float: center;
  }
}

#main-one .main-div-block #assign {
  padding-right: 11.2em;
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block #assign {
    padding-right: 5.8em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block #assign {
    padding-right: 10%;
  }
}

#main-one .main-div-block select {
  padding: 0.8em 10em 0.8em 0.5em;
  border-radius: 0.58em;
  outline: none;
  margin-bottom: 2em;
  -webkit-box-shadow: 0 0.1em 0 gray;
          box-shadow: 0 0.1em 0 gray;
  border: 1px solid lightblue;
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block select {
    padding: 0.8em 4.5em 0.8em 0.5em;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block select {
    padding-right: 3%;
  }
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block select {
    font-size: 1.1rem;
  }
}

#main-one .main-div-block input {
  padding: 0.8em 20em 0.8em 0.5em;
  border-radius: 0.58em;
  outline: none;
  width: 50%;
  -webkit-box-shadow: 0 0.1em 0 gray;
          box-shadow: 0 0.1em 0 gray;
  border: 1px solid lightblue;
  margin-bottom: 2em;
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block input {
    font-size: 1.1rem;
    width: 56%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block input {
    padding: 0.8em 11em 0.8em 0.5em;
    width: 56%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block input {
    padding-right: 42%;
    width: 56%;
  }
}

#main-one .main-div-block input:focus {
  border-color: #efcf28;
}

#main-one .main-div-block .label {
  width: 90%;
  margin: -5.5% -4% 5%;
  line-height: 1.3em;
  text-align: center;
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block .label {
    font-size: 1rem;
    padding-top: 5%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block .label {
    margin: -5.5% -5.3% 5%;
    width: 85%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block .label {
    width: 100%;
    text-align: unset;
    margin-left: -7.5%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block .label {
    width: 100%;
    text-align: unset;
    margin-left: -10%;
  }
}

#main-one .main-div-block .label a {
  color: #257ebf;
}

#main-one .main-div-block textarea {
  padding-right: 18.3em;
  border-radius: 0.58em;
  font-size: 0.9rem;
  width: 50%;
  -webkit-box-shadow: 0 0.1em 0 gray;
          box-shadow: 0 0.1em 0 gray;
  outline: none;
  border: 1px solid lightblue;
  margin-bottom: 0.5em;
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block textarea {
    width: 56%;
    padding-right: 43%;
  }
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block textarea {
    font-size: 1.3rem;
    padding-right: 20.5em;
  }
}

@media (min-width: 400px) and (max-width: 599px) and (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block textarea {
    width: 86%;
    padding-right: 13%;
  }
}

#main-one .main-div-block textarea:focus {
  border-color: #efcf28;
}

#main-one .main-div-block #form-submit {
  padding: 0.8em;
  background-color: #257ebf;
  color: white;
  font-weight: 700;
  width: 25%;
  margin: 2% 33% 20%;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block #form-submit {
    font-size: 1rem;
    padding: 0.5em;
    width: 30%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block #form-submit {
    font-size: 0.98rem;
    padding: 0.5em;
    width: 35%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  #main-one .main-div-block #form-submit {
    margin: 2% 39% 20%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block #form-submit {
    margin: 2% 39% 20%;
  }
}

@media (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block #form-submit {
    font-size: 1.2rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block #form-submit {
    margin: 2% 29% 20%;
  }
}

#main-one .main-div-block #form-submit:active {
  background-color: white;
  border: 2px solid #257ebf;
  color: #257ebf;
}

#main-one .main-div-block h2 {
  color: black;
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block h2 {
    width: 88%;
    padding-top: 1em;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block h2 {
    margin: -4% 1.8%;
    width: 100%;
    font-size: 1.65rem;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block h2 {
    margin: -4% 1.7%;
    width: 100%;
    font-size: 1.7rem;
  }
}

#main-one .main-div-block img {
  width: 7%;
  padding-left: 45%;
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block img {
    width: 12%;
    margin: 5% 3.4%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block img {
    width: 12%;
    margin: 5% 3.4%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block img {
    width: 6%;
    padding-left: 40%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block img {
    width: 4%;
    padding-left: 42%;
  }
}

#main-one .main-div-block p {
  color: black;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (min-width: 400px) and (max-width: 599px) {
  #main-one .main-div-block p {
    font-size: 1.08rem;
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 399px) {
  #main-one .main-div-block p {
    font-size: 1.08rem;
    width: 100%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  #main-one .main-div-block p {
    width: 86%;
    font-size: 1.28rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) and (min-width: 1200px) and (max-width: 1284px) {
  #main-one .main-div-block p {
    font-size: 1.45rem;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .divfooter #terms {
    margin-left: -3%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .divfooter #terms {
    margin-left: -3%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .divfooter #contribute {
    margin-right: -6%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .divfooter #contribute {
    margin-right: -6%;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .divfooter #contact {
    padding-right: 5%;
  }
}

@media (min-width: 701px) and (max-width: 760px) {
  .divfooter #contact {
    padding-right: 5%;
  }
}
/*# sourceMappingURL=style.css.map */