#ignore this image file
*ellipse.png

#ignore this image file
*close-2.svg

#ignore this image file
*thumbs.png

#ignore this html file
*contents.html

#ignore this html file
*favicon-32x32.png

#ignore this html file
*icon-hamburger.svg
